################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core/src/Sys.Web/my-files/
