@page
@using Microsoft.Extensions.Localization
@using EInvoice.Localization
@using EInvoice.Web.Pages.EInvoice
@model EInvoice.Web.Pages.EInvoice.IndexModel
@inject IStringLocalizer<EInvoiceResource> L

@{
}
<h1>EInvoice</h1>
<p>@L["SamplePageMessage"]</p>
