@page
@model Sys.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Sys.Localization
@using Volo.Abp.Users
@using Sys.Tenants.Dashboard.Dto
@inject IHtmlLocalizer<SysResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Dashboard/morris.js/morris.css" />
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Dashboard/util.js" />
    @* <abp-script src="/Pages/Dashboard/Chart.bundle.min.js" /> *@
    <abp-script src="/Pages/Dashboard/ApexCharts.js" />
    <abp-script src="/Pages/Dashboard/morris.js/morris.js" />
    @* <abp-script src="/Pages/Dashboard/tenant-dashboard-libs.js" /> *@
    @* <abp-script src="/Pages/Dashboard/dashboard.js" /> *@
    @* <abp-script src="/Pages/Dashboard/leptonxDemoDashboard.js" /> *@
    <abp-script src="/Pages/Index.js" />
}

    
       @*  <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>Sys</strong> is successfully running!</h5>
        </div> *@
        

       @*  <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p> *@

        @if (!CurrentUser.IsAuthenticated)
        {
            <div class="container">
        <div class="p-5 text-center">
            <img src="~/images/logo/logo.png" />
                    <h1>Welcome to E-Invoice Middleware!</h1>
                    <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
                </div>
            </div>
        }
        else
        {
        }


    @if (CurrentUser.IsAuthenticated)
    {
<main id="dashboard">
              <div class="row">
                <div class="col d-flex align-items-baseline">
                  <h1 class="lpx-main-title">Main Dashboard</h1>
                  <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark" data-bs-original-title="remark"></i>
                </div>
              </div>
              <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-baseline">
                                    <h2 class="card-title">ERP Inbound Summary</h2>
                                </div>
                            </div>
                            @* <div class="col-4">
                                <div class="card w-100">
                                    <div class="card-header">
                                        <div class="d-inline-block bg-brand px-1 rounded-2 text-white">
                                            <i class="bi bi-layout-wtf fs-3"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <span class="d-block">Total Sales</span>
                                        <h1 class="card-title fs-2">$23,450</h1>
                                        <div class="badge bg-brand soft"><i class="bi bi-arrow-down-right"></i> %2,50</div>
                                    </div>
                                </div>
                            </div> *@
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                       @*  <div class="d-inline-block bg-brand px-1 rounded-2 text-white">
                                            <i class="bi bi-layout-wtf fs-3"></i>

                                        </div><h2 class="card-title">Inbound</h2> *@
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <i class="bi bi-box-arrow-in-left fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Inbound</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="InboundTotal">3,000</h4>
                                            @* <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-success">
                                                    <i class="bi bi-check-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Successful</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="InboundSuccessful">3,000</h4>
                                            @* <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-brand">
                                                    <i class="bi bi-x-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Failed</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="InboundFailed">10</h4>
                                            @* <div class="d-flex text-brand">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-down-right"></i>
                                                </div>
                                                <span id="FailsToday">-5</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-baseline">
                                    <h2 class="card-title">Middleware Outbound IRBM Summary</h2>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <i class="bi bi-box-arrow-right fs-3" ></i>&nbsp;
                                                    <h2 class="card-title">Outbound</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="OutboundTotal">3,000</h4>
                                            @* <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-success">
                                                    <i class="bi bi-check-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Successful</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="OutboundSuccessful">3,000</h4>
                                            @* <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-brand">
                                                    <i class="bi bi-x-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Failed</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="OutboundFailed">10</h4>
                                            @* <div class="d-flex text-brand">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-down-right"></i>
                                                </div>
                                                <span id="FailsToday">-5</span>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
            <!-- E-invoice status -->
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-baseline">
                                    <h2 class="card-title">E-Invoice Status Summary</h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-brand">
                                                    <i class="bi bi-exclamation-circle fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Pending</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoicePending">3,000</h4>
                                            @* <div class="d-flex text-success">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-up-right"></i>
                                        </div>
                                        <span id="SucceedsToday">+210</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-success">
                                                    <i class="bi bi-clock-history fs-3"></i>&nbsp;
                                                    <h2 class="card-title">In Progress</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoiceInprogress">3,000</h4>
                                            @* <div class="d-flex text-success">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-up-right"></i>
                                        </div>
                                        <span id="SucceedsToday">+210</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-success">
                                                    <i class="bi bi-check-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Approved</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoiceApproved">3,000</h4>
                                            @* <div class="d-flex text-success">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-up-right"></i>
                                        </div>
                                        <span id="SucceedsToday">+210</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-brand">
                                                    <i class="bi bi-x-circle fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Rejected</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoiceRejected">10</h4>
                                            @* <div class="d-flex text-brand">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-down-right"></i>
                                        </div>
                                        <span id="FailsToday">-5</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-brand">
                                                    <i class="bi bi-x-circle-fill fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Failed</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoiceFailed">10</h4>
                                            @* <div class="d-flex text-brand">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-down-right"></i>
                                        </div>
                                        <span id="FailsToday">-5</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline text-success">
                                                    <i class="bi bi-ui-checks-grid fs-3"></i>&nbsp;
                                                    <h2 class="card-title">Manual Recon</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h4 class="mb-1" id="eInvoiceManualRecon">3,000</h4>
                                            @* <div class="d-flex text-success">
                                        <div class="me-2">
                                        <i class="bi bi-arrow-up-right"></i>
                                        </div>
                                        <span id="SucceedsToday">+210</span>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- E-Invoice Total Amount -->

            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex align-items-baseline">
                                            <h2 class="card-title">Invoice Total Amount</h2>
                                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>&nbsp;</div>


                                    <div class="col-12">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body">
                                                <div class="row text-center">
                                                    <div class="col-6">
                                                        <div id="annual-limit-radial" style="min-height: 108.7px;">
                                                        </div>
                                                        <h6 class="mb-0 text-white">ANNUAL</h6>
                                                        <small class="opacity-75 text-white" id="YearlyInvoiceSum">$120.00</small>
                                                    </div>
                                                    <div class="col-6">
                                                        <div id="monthly-limit-radial" style="min-height: 108.7px;"></div>
                                                        <h6 class="mb-0 text-white">MONTHLY</h6>
                                                        <small class="opacity-75 text-white" id="MonthlyInvoiceSum"> $120.00</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @* <div class="card-body" style="min-height: 250px">
                        <div id="monthly-donut" style="min-height: 481.2px;">
                        </div>
                        <div class="text-center mt-4">
                        <h4>Monthly Goal</h4>
                        <small class="text-muted">Risus scelerisque tempus enim</small>
                        </div>
                        </div> *@
                        </div>
                    </div>

                    <!-- E-Invoice Status Summary -->
                    <div class="col-12 d-flex">
                        <div class="card overflow-hidden w-100">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex align-items-baseline">
                                            <h2 class="card-title">E-Invoice Status Summary</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chart1" class="d-flex justify-content-center" style="min-height: 162.033px;">
                                    <div id="apexchartsmuhs88on" class="apexcharts-canvas apexchartsmuhs88on apexcharts-theme-light" style="width: 220px; height: 162.033px;">
                                        <svg id="SvgjsSvg1025" width="220" height="162.03333333333333" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                            <foreignObject x="0" y="0" width="220" height="162.03333333333333"><div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml"></div></foreignObject>
                                            <g id="SvgjsG1027" class="apexcharts-inner apexcharts-graphical" transform="translate(31.33333333333333, 0)"><defs id="SvgjsDefs1026"><clipPath id="gridRectMaskmuhs88on"><rect id="SvgjsRect1028" width="165.33333333333334" height="193.33333333333334" x="-4" y="-6" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskmuhs88on"></clipPath><clipPath id="nonForecastMaskmuhs88on"></clipPath><clipPath id="gridRectMarkerMaskmuhs88on"><rect id="SvgjsRect1029" width="163.33333333333334" height="185.33333333333334" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1030" class="apexcharts-pie"><g id="SvgjsG1031" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1032" r="46.620325203252044" cx="79.66666666666667" cy="79.66666666666667" fill="transparent"></circle><g id="SvgjsG1033" class="apexcharts-slices"><g id="SvgjsG1034" class="apexcharts-series apexcharts-pie-series" seriesName="series-1" rel="1" data:realIndex="0"><path id="SvgjsPath1035" d="M 79.66666666666667 7.943089430894304 A 71.72357723577237 71.72357723577237 0 0 1 121.82472760751381 137.69225954777062 L 107.06940627821731 117.38330203938426 A 46.620325203252044 46.620325203252044 0 0 0 79.66666666666667 33.04634146341463 L 79.66666666666667 7.943089430894304 z " fill="var(--lpx-primary)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="144" data:startAngle="0" data:strokeWidth="2" data:value="40" data:pathOrig="M 79.66666666666667 7.943089430894304 A 71.72357723577237 71.72357723577237 0 0 1 121.82472760751381 137.69225954777062 L 107.06940627821731 117.38330203938426 A 46.620325203252044 46.620325203252044 0 0 0 79.66666666666667 33.04634146341463 L 79.66666666666667 7.943089430894304 z " stroke="var(--lpx-card-bg)"></path></g><g id="SvgjsG1036" class="apexcharts-series apexcharts-pie-series" seriesName="series-2" rel="2" data:realIndex="1"><path id="SvgjsPath1037" d="M 121.82472760751381 137.69225954777062 A 71.72357723577237 71.72357723577237 0 0 1 11.453491164586623 101.83047092988446 L 35.328102590314636 94.07313943775823 A 46.620325203252044 46.620325203252044 0 0 0 107.06940627821731 117.38330203938426 L 121.82472760751381 137.69225954777062 z " fill="var(--lpx-success)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="108" data:startAngle="144" data:strokeWidth="2" data:value="30" data:pathOrig="M 121.82472760751381 137.69225954777062 A 71.72357723577237 71.72357723577237 0 0 1 11.453491164586623 101.83047092988446 L 35.328102590314636 94.07313943775823 A 46.620325203252044 46.620325203252044 0 0 0 107.06940627821731 117.38330203938426 L 121.82472760751381 137.69225954777062 z " stroke="var(--lpx-card-bg)"></path></g><g id="SvgjsG1038" class="apexcharts-series apexcharts-pie-series" seriesName="series-3" rel="3" data:realIndex="2"><path id="SvgjsPath1039" d="M 11.453491164586623 101.83047092988446 A 71.72357723577237 71.72357723577237 0 0 1 11.453491164586623 57.50286240344887 L 35.328102590314636 65.2601938955751 A 46.620325203252044 46.620325203252044 0 0 0 35.328102590314636 94.07313943775823 L 11.453491164586623 101.83047092988446 z " fill="var(--lpx-warning)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="36" data:startAngle="252" data:strokeWidth="2" data:value="10" data:pathOrig="M 11.453491164586623 101.83047092988446 A 71.72357723577237 71.72357723577237 0 0 1 11.453491164586623 57.50286240344887 L 35.328102590314636 65.2601938955751 A 46.620325203252044 46.620325203252044 0 0 0 35.328102590314636 94.07313943775823 L 11.453491164586623 101.83047092988446 z " stroke="var(--lpx-card-bg)"></path></g><g id="SvgjsG1040" class="apexcharts-series apexcharts-pie-series" seriesName="series-4" rel="4" data:realIndex="3"><path id="SvgjsPath1041" d="M 11.453491164586623 57.50286240344887 A 71.72357723577237 71.72357723577237 0 0 1 79.65414854098948 7.94309052330685 L 79.6585298849765 33.046342173482785 A 46.620325203252044 46.620325203252044 0 0 0 35.328102590314636 65.2601938955751 L 11.453491164586623 57.50286240344887 z " fill="var(--lpx-brand)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="72" data:startAngle="288" data:strokeWidth="2" data:value="20" data:pathOrig="M 11.453491164586623 57.50286240344887 A 71.72357723577237 71.72357723577237 0 0 1 79.65414854098948 7.94309052330685 L 79.6585298849765 33.046342173482785 A 46.620325203252044 46.620325203252044 0 0 0 35.328102590314636 65.2601938955751 L 11.453491164586623 57.50286240344887 z " stroke="var(--lpx-card-bg)"></path></g></g></g></g><line id="SvgjsLine1042" x1="0" y1="0" x2="159.33333333333334" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1043" x1="0" y1="0" x2="159.33333333333334" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g>
                                        </svg>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <div class="align-items-baseline d-flex">
                                        <span class="bg-primary me-2 p-1 rounded-circle"></span>
                                        <span class="d-block mb-1"><span class="text-primary me-2">40%</span> Pending </span>
                                    </div>
                                    <div class="align-items-baseline d-flex">
                                        <span class="bg-success me-2 p-1 rounded-circle"></span>
                                        <span class="d-block mb-1"><span class="text-success me-2">30%</span> Approved </span>
                                    </div>
                                    <div class="align-items-baseline d-flex">
                                        <span class="bg-warning me-2 p-1 rounded-circle"></span>
                                        <span class="d-block mb-1">
                                            <span class="text-warning me-2">10%</span> In Progress
                                        </span>
                                    </div>
                                    <div class="align-items-baseline d-flex">
                                        <span class="bg-brand me-2 p-1 rounded-circle"></span>
                                        <span class="d-block mb-1"><span class="text-brand me-2">20%</span> Failed </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Montly E-Invoice Issued -->
                <div class="col-md-8 col-lg-8">
                  <div class="row">
                    <div class="col-12">
                      <div class="card bg-brand-gradient text-white">
                        <div class="card-header">
                          <div class="row">
                            <div class="col">
                              <div class="d-flex align-items-baseline">
                                <h2 class="card-title">Invoice Generated Number Count</h2>
                                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark" data-bs-original-title="remark"></i>
                              </div>
                                        <small class="d-block text-muted text-truncate">Each month E-Invoice Generated count</small>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-3 pe-4 pt-0" style="min-height: 310px">
                                <div id="barChart" style="min-height: 291px;">
                          @* <div id="annual-bar" style="min-height: 291px;"> *@
                        </div>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>


            <!--
                <div class="col-md-12 col-lg-7">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">System log Successful Rate</h2>
                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                                <small class="d-block text-muted text-truncate">Showing data between @DateTime.Now.AddMonths(-1).ToString("dd.MM yyyy") and @DateTime.Now.ToString("dd.MM yyyy")</small>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <h2 class="card-title">Succeeds</h2>
                                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="lpx-chart-fix">
                                            @* <div id="earnings-line1" style="min-height: 101px;"> </div>*@
                                            <div id="succeed-rate" style="min-height: 101px;"></div>
                                        </div>
                                        <div class="p-3">
                                            <h4 class="mb-1" id="SucceedsTotal">3,000</h4>
                                            <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <h2 class="card-title">Fails</h2>
                                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="lpx-chart-fix">
                                            @* <div id="balance-line" style="min-height: 101px;"> </div>*@
                                            <div id="fails-rate" style="min-height: 101px;"></div>
                                        </div>
                                        <div class="p-3">
                                            <h4 class="mb-1" id="FailsTotal">10</h4>
                                            <div class="d-flex text-brand">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-down-right"></i>
                                                </div>
                                                <span id="FailsToday">-5</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                      </div>

                    </div>

                  </div>
                </div>
                

                <div class="col-md-12 col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">Active Users</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-body pb-0" style="min-height: 410px">
                      <div class="row">
                            <div class="col">
                                <abp-table striped-rows="true" id="ActiveUsers" class="nowrap">
                                    <thead>
                                        <tr>
                                            <th>USER ID</th>
                                            <th>USER NAME</th>
                                            <th>LAST ACTIVE TIME</th>
                                            <th>TOTAL ACCESS FAILED</th>
                                        </tr>
                                    </thead>
                                </abp-table>
                          @* <table id="table-active-users m-0 p-0" class="table" style="width: 100%">
                            <thead>
                              <tr>
                                <th class="ps-0">USER INFO</th>
                                <th>ROLE</th>
                                <th class="text-end pe-0">ACTIONS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="ps-0">
                                  <div class="d-flex align-items-center">
                                    <img src="../../../../assets/img/avatars/user-01.png" alt="" class="rounded-circle me-2" style="width: 48px">
                                    <div>
                                      <h6 class="mb-0">Kaiya Septimus</h6>
                                      <small class="text-muted">kaiya_septimus</small>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <small>UI Designer</small>
                                </td>
                                <td width="110" class="text-end pe-0">
                                  <a href="#" class="text-secondary px-2"><i class="bi bi-pencil-fill"></i></a>
                                  <a href="#" class="text-danger px-2"><i class="bi bi-trash-fill"></i></a>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table> *@
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                 -->
                 
            @* <div class="col-md-12 col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">Total Earning</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                          <small class="d-block text-muted text-truncate">Compared to 144 last year</small>
                        </div>
                      </div>
                    </div>

                    <div class="card-body" style="min-height: 360px">
                      <div id="total-earning-radialbar" style="min-height: 178.7px;"></div>
                      <div class="mt-4">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-primary"></span>
                            <div class="">
                              <h5 class="mb-0">Presentation</h5>
                              <small class="text-muted">Presentation</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">865</span></div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-success"></span>
                            <div class="">
                              <h5 class="mb-0">Development</h5>
                              <small class="text-muted">Development</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">654</span></div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-warning"></span>
                            <div class="">
                              <h5 class="mb-0">Design</h5>
                              <small class="text-muted">Design</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">253</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
            <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">To Do List</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                          <small class="d-block text-muted text-truncate">Card Information text</small>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col overflow-hidden">
                          <table id="table-todo-list" class="table" style="width: 100%">
                            <thead>
                              <tr>
                                <th></th>
                                <th>PROJECT</th>
                                <th>ISSUE</th>
                                <th>PROGRESS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">Volosoft</h6>
                                      <small class="text-muted">Website</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Activate your commercial account with others until June 2023</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">ABP Framework</h6>
                                      <small class="text-muted">Modules</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Your Order #22482099866d6029 has been Confirmed</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-brand" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">ASPNET Zero</h6>
                                      <small class="text-muted">Payment Module</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Create a new page for CMS</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">Volosoft</h6>
                                      <small class="text-muted">ABP Framework</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Create a new page for CMS Lorem ipsum dolor sit amet mia morsa since 2029</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> *@
              </div>
            </main>
    }
