@page
@model Sys.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Sys.Localization
@using Volo.Abp.Users
@using Sys.Tenants.Dashboard.Dto
@inject IHtmlLocalizer<SysResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Dashboard/morris.js/morris.css" />
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Dashboard/util.js" />
    @* <abp-script src="/Pages/Dashboard/Chart.bundle.min.js" /> *@
    <abp-script src="/Pages/Dashboard/ApexCharts.js" />
    <abp-script src="/Pages/Dashboard/morris.js/morris.js" />
    @* <abp-script src="/Pages/Dashboard/tenant-dashboard-libs.js" /> *@
    @* <abp-script src="/Pages/Dashboard/dashboard.js" /> *@
    @* <abp-script src="/Pages/Dashboard/leptonxDemoDashboard.js" /> *@
    <abp-script src="/Pages/Index.js" />
}

    
       @*  <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>Sys</strong> is successfully running!</h5>
        </div> *@
        

       @*  <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p> *@

        @if (!CurrentUser.IsAuthenticated)
        {
            <div class="container">
                <div class="p-5 text-center">
                    <h1>Welcome to E-Invoice Middleware!</h1>
                    <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
                </div>
            </div>
        }
        else
        {
        }


    @if (CurrentUser.IsAuthenticated)
    {
<main id="dashboard">
              <div class="row">
                <div class="col d-flex align-items-baseline">
                  <h1 class="lpx-main-title">Main Dashboard</h1>
                  <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark" data-bs-original-title="remark"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="card bg-brand-gradient text-white">
                        <div class="card-header">
                          <div class="row">
                            <div class="col">
                              <div class="d-flex align-items-baseline">
                                <h2 class="card-title">Montly E-Invoice Issued</h2>
                                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark" data-bs-original-title="remark"></i>
                              </div>
                              <small class="d-block text-muted text-truncate">Each month E-Invoice total count</small>
                            </div>
                          </div>
                        </div>
                        <div class="card-body p-3 pe-4 pt-0" style="min-height: 310px">
                                <div id="barChart" style="min-height: 291px;">
                          @* <div id="annual-bar" style="min-height: 291px;"> *@
                        </div>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>

                <div class="col-md-12 col-lg-7">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">Success Rate</h2>
                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                                <small class="d-block text-muted text-truncate">Showing data between @DateTime.Now.AddMonths(-1).ToString("dd.MM yyyy") and @DateTime.Now.ToString("dd.MM yyyy")</small>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <h2 class="card-title">Succeeds</h2>
                                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="lpx-chart-fix">
                                            @* <div id="earnings-line1" style="min-height: 101px;"> </div>*@
                                            <div id="succeed-rate" style="min-height: 101px;"></div>
                                        </div>
                                        <div class="p-3">
                                            <h4 class="mb-1" id="SucceedsTotal">3,000</h4>
                                            <div class="d-flex text-success">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-up-right"></i>
                                                </div>
                                                <span id="SucceedsToday">+210</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-baseline">
                                                    <h2 class="card-title">Fails</h2>
                                                    <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="lpx-chart-fix">
                                            @* <div id="balance-line" style="min-height: 101px;"> </div>*@
                                            <div id="fails-rate" style="min-height: 101px;"></div>
                                        </div>
                                        <div class="p-3">
                                            <h4 class="mb-1" id="FailsTotal">10</h4>
                                            <div class="d-flex text-brand">
                                                <div class="me-2">
                                                    <i class="bi bi-arrow-down-right"></i>
                                                </div>
                                                <span id="FailsToday">-5</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">Active Users</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-body pb-0" style="min-height: 410px">
                      <div class="row">
                            <div class="col">
                                <abp-table striped-rows="true" id="ActiveUsers" class="nowrap">
                                    <thead>
                                        <tr>
                                            <th>USER ID</th>
                                            <th>USER NAME</th>
                                            <th>LAST ACTIVE TIME</th>
                                            <th>TOTAL ACCESS FAILED</th>
                                        </tr>
                                    </thead>
                                </abp-table>
                          @* <table id="table-active-users m-0 p-0" class="table" style="width: 100%">
                            <thead>
                              <tr>
                                <th class="ps-0">USER INFO</th>
                                <th>ROLE</th>
                                <th class="text-end pe-0">ACTIONS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="ps-0">
                                  <div class="d-flex align-items-center">
                                    <img src="../../../../assets/img/avatars/user-01.png" alt="" class="rounded-circle me-2" style="width: 48px">
                                    <div>
                                      <h6 class="mb-0">Kaiya Septimus</h6>
                                      <small class="text-muted">kaiya_septimus</small>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <small>UI Designer</small>
                                </td>
                                <td width="110" class="text-end pe-0">
                                  <a href="#" class="text-secondary px-2"><i class="bi bi-pencil-fill"></i></a>
                                  <a href="#" class="text-danger px-2"><i class="bi bi-trash-fill"></i></a>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table> *@
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="col-md-12 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="row">
                            <div class="col">
                              <div class="d-flex align-items-baseline">
                                <h2 class="card-title">Invoice Total Amount</h2>
                                <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                              </div>
                            </div>
                            <div>&nbsp;</div>
                                    

                                    <div class="col-12">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body">
                                                <div class="row text-center">
                                                    <div class="col-6">
                                                        <div id="annual-limit-radial" style="min-height: 108.7px;">
                                                        </div>
                                                        <h6 class="mb-0 text-white">ANNUAL</h6>
                                                        <small class="opacity-75 text-white" id="YearlyInvoiceSum">$120.00</small>
                                                    </div>
                                                    <div class="col-6">
                                                        <div id="monthly-limit-radial" style="min-height: 108.7px;"></div>
                                                        <h6 class="mb-0 text-white">MONTHLY</h6>
                                                        <small class="opacity-75 text-white" id="MonthlyInvoiceSum"> $120.00</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                          </div>
                        </div>
                        @* <div class="card-body" style="min-height: 250px">
                          <div id="monthly-donut" style="min-height: 481.2px;">
                          </div>
                          <div class="text-center mt-4">
                            <h4>Monthly Goal</h4>
                            <small class="text-muted">Risus scelerisque tempus enim</small>
                          </div>
                        </div> *@
                      </div>
                    </div>

                    
                  </div>
                </div>
            @* <div class="col-md-12 col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">Total Earning</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                          <small class="d-block text-muted text-truncate">Compared to 144 last year</small>
                        </div>
                      </div>
                    </div>

                    <div class="card-body" style="min-height: 360px">
                      <div id="total-earning-radialbar" style="min-height: 178.7px;"></div>
                      <div class="mt-4">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-primary"></span>
                            <div class="">
                              <h5 class="mb-0">Presentation</h5>
                              <small class="text-muted">Presentation</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">865</span></div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-success"></span>
                            <div class="">
                              <h5 class="mb-0">Development</h5>
                              <small class="text-muted">Development</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">654</span></div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-baseline mb-3">
                            <span class="me-2 p-1 border rounded-circle bg-warning"></span>
                            <div class="">
                              <h5 class="mb-0">Design</h5>
                              <small class="text-muted">Design</small>
                            </div>
                          </div>
                          <div class=""><span class="text-muted">253</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
            <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-baseline">
                            <h2 class="card-title">To Do List</h2>
                            <i class="bi bi-exclamation-circle opacity-50 ms-1" data-bs-toggle="tooltip" data-bs-html="true" aria-label="remark " data-bs-original-title="remark "></i>
                          </div>
                          <small class="d-block text-muted text-truncate">Card Information text</small>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col overflow-hidden">
                          <table id="table-todo-list" class="table" style="width: 100%">
                            <thead>
                              <tr>
                                <th></th>
                                <th>PROJECT</th>
                                <th>ISSUE</th>
                                <th>PROGRESS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">Volosoft</h6>
                                      <small class="text-muted">Website</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Activate your commercial account with others until June 2023</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">ABP Framework</h6>
                                      <small class="text-muted">Modules</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Your Order #22482099866d6029 has been Confirmed</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-brand" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">ASPNET Zero</h6>
                                      <small class="text-muted">Payment Module</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Create a new page for CMS</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="">
                                      <h6 class="mb-0">Volosoft</h6>
                                      <small class="text-muted">ABP Framework</small>
                                    </div>
                                  </div>
                                </td>
                                <td>Create a new page for CMS Lorem ipsum dolor sit amet mia morsa since 2029</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <small class="text-muted d-block mb-1">Due in 1 week</small>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> *@
              </div>
            </main>
    }
