@page "/TaskScheduler"
@using Microsoft.Extensions.Localization
@using global::TaskScheduler.Localization
@inject IStringLocalizer<TaskSchedulerResource> L
@{
}
<h1>TaskScheduler</h1>
<p>@L["SamplePageMessage"]</p>